
body {
  margin: 0;
  padding: 0;
}
button,
button:active,
button:focus {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}
.btn,
.btn:focus,
.btn:active {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}
ul {
  list-style-type: none;
}
.delivery-list {
  list-style-type: disc;
}
a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: none;
}

.dropdown-toggle::after {
  all: unset;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: middle;
  content: url(./page/img/drop-arrow.svg);
  width: 12px;
  height: 12px;
  transition: transform 0.2s ease-in-out;
}

.dropdown-toggle.show::after {
  transform: rotate(180deg);
}
.nav-item {
  font-family: Manrope;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.phone-wrapper {
  background-color: #ffdd2d;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}
.logo-wrapper {
  margin-right: 10%;
  
}
.logo,.small-logo-img {
 max-width: 150px;
 
}
.catalog {
  margin-right: 1rem;
}
.direction {
  margin-right: 1rem;
}

.phone-wrapper {
  margin-right: 0 !important;
}
.header {
  height: 120px;
}

.burger-button {
  --burger-color: #ffdd2d;
  --burger-hover-color: #000000;

  color: var(--burger-color);
  transition: color 0.3s ease;
}

.burger-button:hover,
.burger-button:focus {
  color: var(--burger-hover-color) !important;
}

.burger-button svg {
  pointer-events: none;
}
.burger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger-icon {
  color: black;

  transition: color 0.3s ease;
}

.burger-button:hover .burger-icon {
  color: #ffdd2d;
}
.small-number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.number-button {
  margin-left: 0.5rem;
}

.fa-phone {
  color: black;
}
.fa-phone:hover {
  color: #ffdd2d;
}
.card-body {
  color: #000000;
}
.number-button,
.number-button-mobile {
  font-family: Inter;
  font-weight: 500;
  font-size: rem;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.inset-frame {
  padding: 0;
 
}

@media only screen and (min-width: 320px) {
  .about-text {
    font-size: 0.8rem;
  }
  .thumbnail-slider {
    display: none;
  }
  .swiper-button-prev, .swiper-button-next {
    color: rgb(0, 0, 0);
    /* background: rgba(0, 0, 0, 0.548); */
    padding: 20px;
    border-radius: 50%;
  }
  .option-button {
    background-color: #ffdd2d;
    color: black;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    max-width: 320px;
  }
  .option-row {
    padding: 2rem 3rem 2rem 3rem;
    background-color: #000000;
    color: white;
    border-radius: 20px;
  }
  .option-li {
    list-style: disc;
  }
  .quest-manager, .link-manager, .trust-manager {
    text-align: center;
    color: black;
  }
  
  .quest-manager {
    font-size: 1.1rem;
  }
  .link-manager{
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    max-width: 320px;
    text-align: center;
  }
  .trust-manager {
    font-size: 0.8rem;
  }
  .trust-info {
    background-color: #ffdd2d;
    padding: 2rem;
    border-radius: 10px;
  }
  .trust-info-item {
   /* display: flex;
   justify-content: space-evenly;
   align-items: center; */
  }
  .trust-item-wrapper {
   margin-bottom: 1.5rem;
  }
  .trust-img {
    padding: 0 !important;
    margin: 0 !important;
    align-self: center;
  }
  .trust-anchor {
    padding: 0 !important;
  }
  .trust-block {
    
    background-color: #f5f7f8;
    border-radius: 15px;
    padding: 40px;
  }
  .trust-block-title {
    font-size: 1.2rem;
    height: 2rem;
    margin-bottom: 3rem;
  }
  .trust-title {
    text-align: center;
    margin-bottom: 3rem;
  }
  .trust-block-text {
    height: 10rem;
  }
  .charge-descr {
    padding: 20px;
  }
  .pref-consult-text {
    max-width: 420px;
  }
  .pref-consult {
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .__pref_wrapper {
    margin-top: 2rem;
  }
  .pref-consult-button {
    font-size: 0.7rem;
    padding: 0px;
    text-align: center;
    color: white;
    background-color: #ffdd2d;
    padding: 10px 15px 10px 15px;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
  }
  .charge-wrapper {
    background-color: #f5f7f8;
    border-radius: 20px 20px 20px 20px;

    margin-bottom: 2rem;
  }
  .charge-img-wrapper {
    margin-bottom: 1.2rem;
  }
  .charge-img {
    margin-bottom: 0.5rem;
  }
  .pref-subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .charge-title {
    text-align: center;
  }
  .charge-type {
    font-size: 1.2rem;
  }
  .charge-descr-right {
    text-align: left;
    padding: 20px;
  }
  .charge-info-right {
    max-width: 300px;
  }
  .charge-info {
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .charge-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pref-title {
    text-align: center;
  }
  .frame-wrapper {
    background-color: #f6f7f8;
    border-radius: 30px 30px 0 0;
    padding-bottom: 3rem;
  }
  .calculate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000000; */
    background-image: url(./page/img/thumb-frame.webp);
    border-radius: 20px;
    padding: 40px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .calculate-button {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    background-color: #ffdd2d;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .calculate-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: 0%;
    margin-bottom: 2rem;
  }
  .calculate-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    line-height: 20px;
    margin-bottom: 2rem;
  }

  .present-block-wrapper {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .service-list {
    font-family: Inter;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    background-color: #ffdd2d;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
  .present-block {
    justify-content: space-between;
  }
  .help-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;
    width: 70%;
    margin-bottom: 40px;
  }
  .help-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .main-frame {
    display: none;
    border-radius: 15px 15px 15px 15px;
  }
  .wrapper-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("./page/img/hero.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .contain-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10px 0 10px 0;
  }

  .icon-text {
    margin-top: 1rem;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
  }
  .header-wrapper {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .drop-wrapper .btn {
    transition: all 0.1s ease;
  }

  .drop-wrapper .btn:active {
    transform: scale(0.98);
    opacity: 0.9;
  }

  .drop-wrapper .btn:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !important;
  }
  .number-button-mobile {
    display: none;
  }
  .xs-0 {
    order: 1;
  }
  .xs-1 {
    order: 2;
    margin-bottom: 2rem;
  }
  .xs-2 {
    order: 4;
    margin-bottom: 2rem;
  }
  .xs-3 {
    order: 3;
  }
  .xs-4 {
    order: 5;
  }
  .xs-5 {
    order: 6;
  }
  .xs-6 {
    order: 8;
    border-radius: 0 0 15px 15px;
  
  }
  .xs-7 {
    order: 7;
    border-radius: 15px 15px 0 0;
    margin-top: 2rem;
  }
  .xs-8 {
    background-color: #ffdd2d;
    order: 9;
    border-radius: 15px 15px 0 0;
    
    margin-top: 2rem;
  }
  .xs-9 {
    background-color: #ffdd2d;
    order: 10;
    margin-bottom: 2rem;
    border-radius: 0 0 15px 15px;
  }
  .xs-0,
  .xs-3,
  .xs-4 {
    background-color: #ffdd2d;
    border-radius: 15px 15px 0 0;
  }
  .xs-1,
  .xs-2,
  .xs-5 {
    background-color: #ffdd2d;
    border-radius: 0 0 15px 15px;
  }
}
@media only screen and (min-width: 420px) {
}

@media only screen and (min-width: 722px) {
  .fa-phone {
    display: none;
  }
  .number-button-mobile {
    display: block;
    background-color: #ffdd2d;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
  }
  .number-button-mobile:before {
    content: url(./page/img/header-phone.svg);
  }
}

@media only screen and (min-width: 768px) {
  .about-text {
    font-size: 1.2rem;
  } 
  .pref-title {
    text-align: left;
    margin: 3rem 0 3rem 0;
  }
  .calculate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .help {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-bottom: 40px;
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 900px) {
  .video {
  
    width: 41%;
    height: auto!important;
  }
  .thumbnail-slider {
    display: flex;
    max-height: 475px;
  }
  .option-left {
    border-right: 1px solid white;
  }
  .xs-0,
  .xs-4 {
    background-color: #ffdd2d;
    border-radius: 15px 0 0 15px;
  }
  .xs-1,
  .xs-5 {
    background-color: #ffdd2d;
    border-radius: 0 15px 15px 0;
  }
  .xs-2 {
    background-color: #ffdd2d;
    border-radius: 15px 0 0 15px;
  }
  .xs-3 {
    background-color: #ffdd2d;
    border-radius: 0 15px 15px 0;
  }
  .xs-0 {
    order: 1;
    margin-bottom: 2rem;
  }
  .xs-1 {
    order: 2;
    margin-bottom: 2rem;
  }
  .xs-2 {
    order: 3;
    margin-bottom: 2rem;
  }
  .xs-3 {
    order: 4;
    margin-bottom: 2rem;
  }
  .xs-4 {
    order: 5;
    margin-bottom: 2rem;
  }
  .xs-5 {
    order: 6;
    margin-bottom: 2rem;
  }
  .xs-6 {
    order: 7;
    margin-bottom: 2rem;
    border-radius: 15px 0 0 15px;
  }
  .xs-7 {
    order: 8;
    border-radius:  0 15px 15px 0;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .xs-8 {
    order: 9;
    border-radius: 15px 0 0 15px;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .xs-9 {
    order: 10;
    margin-bottom: 2rem;
    border-radius: 0 15px 15px 0;
  }
  .calculate {
    width: 40%;
  }
  .calculate-title {
    width: 70%;
  }
  .calculate-text {
    width: 100%;
  }
  .icon-image path {
    fill: white;
  }
  .main-frame {
    display: flex;
  }

  .wrapper-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    background-image: none;
  }
  .icon-image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .contain-present-wrapper {
    width: 70%;
    height: 80%;
    color: white;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #00000059;
    border: 2px solid white;
    border-top: none;
    border-radius: 0 0 30px 30px;
  }
  .icon-text {
    height: 30px;
    width: 80%;
  }

  .contain-item {
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-frame {
    display: flex;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }
}

@media only screen and (min-width: 992px) {
  .header-wrapper {
    display: block;
    padding: 0 20px 0 20px;
  }
  .mobile-header {
    display: none !important;
  }
  .number-button:before {
    content: url(./page/img/header-phone.svg);
  }
  .contain-present-wrapper {
    width: 70%;
    height: 50%;
  }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
  .link-manager {
   margin: 0;
  }
  .quest-manager, .trust-manager {
    text-align: left;
  }
  .trust-title {
    text-align: left;
  }
  .charge-wrapper {
    padding: 20px;
  }
  .__pref_wrapper {
    margin-top: 2rem;
    height: 40px;
  }
  .pref-consult-button {
    padding: 1rem 2rem 1rem 2rem;
    text-align: left;
    font-size: 1.3rem;
  }
  .charge-img-wrapper {
    margin-right: 2rem;
  }
  .pref-subtitle {
    text-align: left;
  }
  .contain-present-wrapper {
    width: 70%;
    height: 35%;
  }
  .charge-title {
    text-align: left;
  }
  .charge-type {
    font-size: 1.2rem;
  }
  .charge-descr-right {
    text-align: left;
    padding: 0px;
  }
  .charge-descr,
  .charge-time {
    font-size: 0.8rem;
  }
  .charge-time {
    margin-top: 1.5rem;
  }
  .charge-info {
    max-width: 300px;
    text-align: left;
    align-self: flex-start;
  }
  .charge-info-right {
    max-width: 100%;
    text-align: left;
  }
  .charge-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (min-width: 1800px) {
  .contain-present-wrapper {
    width: 70%;
    height: 40%;
  }
}

.present-img {
  position: relative;
}
.present-frame {
  margin: 0;
  padding: 0;
}

/* 
.delivery-list {
  list-style-type:disc ;
}

.delivery-img {
  width: 100%;
  height: 100%;
}

.delivery-top-title {
  font-family: Inter;
font-weight: 600;
font-size: 1.2rem;
line-height: 32px;
letter-spacing: 0%;
margin-bottom: 2rem;
}

.delivery-descr {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 24px;
  letter-spacing: 0%;
}
.title-list {
  font-family: Inter;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.delivery-item {
  font-family: Manrope;
font-weight: 600;
font-size: 0.8rem;
line-height: 24px;
letter-spacing: 0%;

}

.delivery-spec {
  font-family: Manrope;
font-weight: 400;
font-size: 0.8rem;
line-height: 24px;
letter-spacing: 0%;

}

.delivery-black {
  padding: 10px 15px 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}
.delivery-yellow {
  padding: 10px 15px 10px 15px;
  background-color: #ffdd2d;
  color: #000000;
  border-radius: 5px;
}
.delivery-black, .delivery-yellow {
  font-family: Inter;
font-weight: 500;
font-size: 1rem;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

}

.delivery-frame-1,.delivery-frame-2,.delivery-frame-3 {
 
}
.delivery-img-1,.delivery-img-2,.delivery-img-3 {
  height: 100%;
  padding: 0;
}
.delivery-content {
  display: flex;
  align-items: center;
  background-color: #ffdd2d;
  border-radius: 20px 20px;
  margin: 2rem;
  
}
.second-del {
  background-color: #000000;
  border-radius: 20px 20px;
  margin: 2rem;
  color: white;
  
} */

/* .delivery-row {
  background-color: #ffdd2d;
  border-radius: 20px 20px 20px 20px;
} */

.delivery-image,
.delivery-text {
  padding: 0px;
}

.delivery-wrapper {
  padding: 2rem;
}
.delivery-image-anchor {
  height: 100%;

  object-fit: cover;
  border-radius: 15px;
}
.delivery-title-frame {
  font-family: Inter;
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0%;
}
.delivery-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0%;
}

.road {
  width: 2.3rem;
  height: 2.3rem;
}

.delivery-descr {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0%;
}
.delivery-list-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.span-delivery {
  font-family: Manrope;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0%;
}
.delivery-item {
  font-family: Manrope;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 24px;
  letter-spacing: 0%;
}
.delivery-black {
  padding: 10px 20px 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 500;
  font-size: 0/8rem;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.delivery-text {
  padding: 2rem;
}
.delivery-yellow {
  padding: 10px 20px 10px 20px;
  background-color: #ffdd2d;
  color: black;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 500;
  font-size: 0/8rem;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.black-delivery {
  background-color: #000000;
  color: white;
}

.slider-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.main-slider {
  width: 80%;
  /* height: 500px; */
  margin: 0;
  padding: 0;
}

.thumbnail-slider {
  width: 20%;
  height: 500px;
}

.main-slide {
  width: 100%;
  height: auto;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* background: #eee; */
  object-fit: cover;
}

.main-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.thumbnail-slide {
  height: calc(20% - 10px);
  opacity: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #ddd; */
  margin-bottom: 10px;
  width: 100%;
}

.thumbnail-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.thumbnail-slide.swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid #007aff;
}
.gallery {
  margin-bottom: 2rem;
}
.about-item {
  margin-bottom: 2rem;
}

.slider-wrapper {
  position: relative;
}
.feedback-item {
  text-align: center;
}

.avatar-wrapper {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stars-wrapper {
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  color: gold;
  font-size: 1.2em;
}

.feedback-text {
  margin-top: 10px;
}

/* .slider-container-feedback {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
} */

.slider {
  width: 100%;
}

.slider img {
  width: 100%;
  height: auto;
}

/* Стили для стрелок */
.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev {
  left: -1rem;
}

.slick-next {
  right: -1rem;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: black;
}

/* Стили для индикаторов */
.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: black;
}

.slick-dots li.slick-active button:before {
  color: black;
}

.option-span {
  color: #ffdd2d;
}
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.case-row {
  margin-bottom: 2rem;
}

/* .about-left {
  border-radius: 15px;
  padding: 20px;
  color: white;
  background-image: url(./page/img/about-left.png);
  background-size: 100%;
  background-repeat: no-repeat;
 
}
.about-right {

  border-radius: 15px;
  padding: 20px;
  color: white;
  background-image: url(./page/img/about-right.png) ;
  background-size: 100;
  background-repeat: no-repeat;
} */

.about-content {
  position: relative;
}
.about-text {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 20px;
  
}
/* .about-img  {
filter: brightness(0.6);
border-radius: 20px;
} */
.about-bottom {
  font-weight: 500;
  font-size: 2rem;
}
.result-wrapper {
  border-radius: 15px;
  padding: 20px;
  color: white;
  background-image: url(./page/img/results.png) ;
  background-size: 100;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}
.feedback-wrapper {
  margin-bottom: 5rem;
}
.about-col {
  margin: 3rem 0 3rem 0;
}
.about-img img {
  border-radius: 15px;
}
.text-about {
  align-self: center;
}
.result-title {
  margin: 2rem 0 2rem 0;
}